@media (min-width: 300px) and (max-width: 699px) {
	.tamaño {
		height: 25vh;
	}
	.containerBanner {
		img {
			height: 200px;
			width: 100%;
		}
	}
	.caja {
		img {
			height: 500px;
		}
	}
	.textoTarjetas {
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 20px;
		}
	}
	.imagenDePcs {
		img {
			height: 200px;
		}
		h2 {
			font-size: 13px;
		}
		p {
			font-size: 13px;
			top: 65%;
		}
	}
	.textoPcs {
		width: 200px;
	}
	.imagenDePerifericos {
		img {
			height: 200px;
		}
		h2 {
			bottom: 70%;
			left: 70%;
			font-size: 12px;
		}
		p {
			top: 30%;
			padding-left: 1px;
			font-size: 11px;
		}
	}
	.textoPerifericos {
		width: 150px;
		top: 12%;
		left: 60%;
	}
	.cajaComunidad {
		img {
			height: 250px;
		}
		h3 {
			top: 20%;
			left: 24%;
			font-size: 30px;
		}
		h2 {
			top: 40%;
			left: 15%;
			font-size: 40px;
		}
	}
	.parrafoComunidad {
		width: 300px;
		font-size: 16px;
		top: 5%;
	}
	.parrafoComunidad2 {
		width: 300px;
		font-size: 16px;
		top: 48%;
	}
	.imgGamers {
		img {
			height: 250px;
		}
	}
	.textoGamer {
		top: 7%;
		left: 30%;
	}
	.bottomGamer {
		top: 25%;
		left: 43%;
	}
	.bannerRedes {
		img {
			height: 200px;
		}
		h2 {
			font-size: 18px;
			top: 10%;
			left: 21%;
		}
	}
	.iconosRedes {
		top: 40%;
		left: 15%;
		letter-spacing: 25px;
	}
	.videoOficina {
		video {
			height: 250px;
		}
	}
	.imgContacto {
		img {
			height: 200px;
		}
	}
	.titulosContacto {
		h2 {
			left: 20%;
			font-size: 25px;
		}
		h3 {
			left: 29%;
			font-size: 20px;
		}
	}
}
@media (min-width: 700px) and (max-width: 1000px) {
	.tamaño {
		height: 35vh;
	}
	.caja {
		img {
			height: 650px;
		}
	}
	.textoTarjetas {
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 20px;
		}
	}
	.imagenDePerifericos {
		position: relative;
		h2 {
			bottom: 70%;
			color: white;
			left: 70%;
		}
		p {
			top: 30%;
			color: white;
			padding-left: 15px;
		}
	}
	.textoPerifericos {
		width: 300px;
		bottom: 20%;
		left: 60%;
	}
	.cajaComunidad {
		h3 {
			top: 20%;
			left: 26%;
		}
		h2 {
			top: 35%;
			left: 15%;
		}
	}
	.parrafoComunidad {
		font-size: 22px;
		top: 5%;
	}
	.parrafoComunidad2 {
		font-size: 22px;
		top: 50%;
	}
	.imgGamers {
		img {
			height: 450px;
		}
	}
	.textoGamer {
		top: 7%;
		left: 39%;
	}
	.bottomGamer {
		top: 20%;
		left: 47%;
	}
	.bannerRedes {
		img {
			height: 250px;
		}
		h2 {
			left: 13%;
			letter-spacing: 1px;
		}
	}
	.iconosRedes {
		top: 50%;
		left: 15%;
		letter-spacing: 40px;
	}
	.videoOficina {
		video {
			height: 500px;
		}
	}
	.imgContacto {
		img {
			height: 300px;
		}
	}
	.titulosContacto {
		h2 {
			left: 20%;
			font-size: 50px;
		}
		h3 {
			left: 33%;
			font-size: 30px;
		}
	}
}