.containerBanner {
	position: relative;
	img {
		height: 400px;
		width: 90rem;
		object-fit: cover;
	}
}
.tituloPrincipal {
	padding-left: 20px;
	font-size: 2rem;
	color: white;
	text-shadow: 0 0 5px #00FF2A, 0 0 10px #00FF2A, 0 0 15px #00FF2A, 0 0 20px #4FCA24, 0 0 30px #4FCA24, 0 0 40px #4FCA24, 0 0 55px #4FCA24, 0 0 75px #4FCA24;
}
.nav {
	display: flex;
	justify-content: end;
	ul {
		li {
			a {
				color: white;
			}
		}
	}
}
.navBurger {
	background-color: #4FCA24;
	border-radius: 5px;
}
.active1 {
	text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px #B900FF, 0 0 30px #00FF2A, 0 0 40px #00FF2A, 0 0 55px #00FF2A, 0 0 75px #00FF2A;
}
.nav-link {
	&:hover {
		color: #00FF2A;
	}
}