@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";
/**********Inicio Del CSS De Imparcials*************/
@import "variables";
@import "mapas";
@import "mixin";
@import "extend";
/**********Fin Del CSS De Imparcials*************/
/**********Inicio Del CSS General*************/
*{
	margin: 0;
	padding: 0;
}
body {
	background-color: #000000;
	font-family: 'Bebas Neue', cursive;
}
@import "navbar";
/**********Fin Del CSS General*************/
/**********Inicio Del CSS Index.html*************/
.tamaño {
	height: 90vh;
	object-fit: cover;
}
.hola {
	background-color: black;
}
.imgBorder {
	border-radius: 3px;
}
.colorText {
	color: $color-titulo-1;
}
.colorText2 {
	color: $color-titulo-2;
}
.colorBottom {
	background-color: #00FF2A;
}
.caja {
	position: relative;
	img {
		width: 100%;
		height: 800px;
	}
}
.textoTarjetas {
	h2 {
		position: absolute;
		bottom: 87%;
		color: $color-titulo-2;
		font-size: 50px;
	}
	p {
		position: absolute;
		bottom: 75%;
		color: $color-titulo-1;
		font-size: 30px;
	}
}
.col-lg-6 {
	padding: 5px;
}
/**********Fin Del CSS Index.html*************/
/**********Inicio Del CSS Productos.html*************/
.tituloPrincopalTienda {
	margin-top: 40px;
	margin-left: 30px;
	color: $color-titulo-1;
	font-size: 50px;
	h2 {
		margin-top: 40px;
		margin-left: 30px;
		color: $color-titulo-1;
		font-size: 50px;
	}
	p {
		color: $color-titulo-2;
		margin-left: 30px;
		margin-bottom: 20px;
		font-size: 20px;
	}
}
.imagenDePcs {
	position: relative;
	img {
		height: 350px;
		margin-top: 10px;
	}
	h2 {
		position: absolute;
		bottom: 70%;
		color: $color-titulo-2;
		padding-left: 20px;
	}
	p {
		position: absolute;
		top: 40%;
		color: $color-titulo-2;
		padding-left: 15px;
	}
}
.tarjetas {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}
.imagenDePerifericos {
	position: relative;
	img {
		margin-top: 30px;
		height: 350px;
	}
	h2 {
		position: absolute;
		bottom: 63%;
		left: 75%;
		color: $color-titulo-2;
		padding-left: 20px;
	}
	p {
		position: absolute;
		top: 50%;
		color: $color-titulo-2;
		padding-left: 20px;
	}
}
/**********Fin Del CSS Productos.html*************/
/**********Inicio Del CSS Comunidad.html*************/
.cajaComunidad {
	margin-top: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	img {
		height: 550px;
	}
	h3 {
		position: absolute;
		top: 30%;
		color: $color-titulo-2;
		font-size: 70px;
		letter-spacing: 3px;
	}
	h2 {
		position: absolute;
		top: 40%;
		color: $color-titulo-1;
		font-size: 100px;
		letter-spacing: 3px;
	}
}
.cajaTextoComunidad {
	background-color: #4FCA24;
	height: 300px;
	position: relative;
	border-top: #000000 solid 3px;
	border-bottom: #000000 solid 3px;
	display: flex;
	justify-content: center;
}
.parrafoComunidad {
	width: 600px;
	position: absolute;
	top: 7%;
}
.parrafoComunidad2 {
	width: 600px;
	position: absolute;
	top: 47%;
}
.imgGamers {
	position: relative;
	display: flex;
	justify-content: center;
	img {
		height: 550px;
	}
}
.textoGamer {
	position: absolute;
	top: 7%;
	color: $color-titulo-2;
}
.bottomGamer {
	position: absolute;
	top: 18%;
}
.bannerRedes {
	position: relative;
	h2 {
		position: absolute;
		top: 10%;
		left: 21%;
		color: $color-titulo-2;
		letter-spacing: 2px;
	}
}
.iconosRedes {
	position: absolute;
	top: 40%;
	left: 21%;
	letter-spacing: 70px;
}
/**********Fin Del CSS Comunidad.html*************/
/**********Inicio Del CSS Ubicacion.html*************/
.videoOficina {
	video {
		height: 600px;
		width: 100%;
		object-fit: cover;
		margin-top: 50px;
	}
}
.tituloUbicacion {
	h2 {
		margin-top: 20px;
		margin-left: 30px;
		color: $color-titulo-1;
		letter-spacing: 2px;
		font-size: 50px;
	}
	h3 {
		margin-left: 30px;
		color: $color-titulo-2;
		font-size: 35px;
		letter-spacing: 2px;
	}
}
.mapa {
	height: 400px;
	width: 100%;
	border: black solid 3px;
	border-radius: 10px;
	box-shadow: 0 0 5px #00FF2A, 0 0 10px #00FF2A, 0 0 15px #00FF2A, 0 0 20px #4FCA24, 0 0 30px #4FCA24, 0 0 40px #4FCA24, 0 0 55px #4FCA24, 0 0 75px #4FCA24;
	margin-top: 30px;
}
/**********Fin Del CSS Ubicacion.html*************/
/**********Inicio Del CSS Contacto.html*************/
.colorLabel {
	color: $color-titulo-1;
}
.imgContacto {
	position: relative;
	margin-top: 30px;
}
.textarea {
	resize: none;
}
.titulosContacto {
	display: flex;
	justify-content: center;
	h2 {
		color: $color-titulo-2;
		position: absolute;
		top: 30%;
		font-size: 50px;
	}
	h3 {
		color: $color-titulo-1;
		position: absolute;
		top: 50%;
		font-size: 30px;
	}
}
.reseñas {
	color: $color-titulo-2;
	width: 100%;
	height: 80px;
	background-color: black;
	text-align: center;
	position: relative;
	h2 {
		margin-top: 20px;
	}
}
.borderBottom {
	border-bottom: 2px white solid;
	width: 10%;
	position: absolute;
	left: 45%;
}
.caruselTexto {
	background-color: black;
	div {
		text-align: center;
		color: $color-titulo-2;
		margin-bottom: 50px;
		p {
			padding: 20px;
		}
	}
}
/**********Fin Del CSS Contacto.html*************/
/**********Inicio Del CSS Footer*************/
.colorFooter {
	background-color: black;
}
.textFooter {
	font-size: 20px;
}
/**********Fin Del CSS Footer*************/
@import "mediaquery";